feedparser==6.0.11
Flask==3.1.0
levenshtein==0.27.1
pyluach==2.2.0
python-dateutil==2.9.0.post0
PyYAML==6.0.2
timezonefinder==6.5.9
uszipcode==1.0.1

# https://github.com/MacHu-GWU/uszipcode-project/issues/79
# sqlalchemy_mate==2.0.0.0
